@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row px-4">
            <NavLink href="/">Home</NavLink>
            <NavLink href="Projects">Projects</NavLink>
            <NavLink href="NuGets">NuGets</NavLink>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
