@using Bluehill.Blazor.Layout
@inherits LayoutComponentBase

<BluehillLayout HeadLinks="@([new("Home", "."), new("Projects", "projects"), new("NuGets", "nugets")])">
    <Body>
        @Body
    </Body>
</BluehillLayout>
