@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="https://na1307.github.io/">Home</a>
            <a href="https://na1307.github.io/Projects">Projects</a>
            <a href="https://na1307.github.io/NuGets">NuGets</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
