@page "/about"

<PageTitle>About me</PageTitle>

<h1>About me</h1>

<h2>소개</h2>
<ul>
    <li>Bluehill입니다.</li>
    <li>C#과 닷넷에 관심이 많습니다. C++도 좀 할줄 압니다.</li>
    <li>이 사이트는 Blazor WebAssembly를 사용하여 제작되었습니다.</li>
</ul>

<h2>쓸데 없는 잡담</h2>
<ul>
    <li>미니멀리즘을 추구합니다.</li>
    <li>씹덕은 아닙니다. <del>암튼 아님</del></li>
    <li>닉네임(Bluehill)과 아이디(na1307)의 의미는 없습니다. 그냥 아무 생각 없이 지은 닉네임이에요.</li>
    <li>프사는 '식스타 게이트: 스타트레일'이라는 게임에 나오는 시이라는 캐릭터입니다. 이미지의 원본은 <a href="https://www.pixiv.net/artworks/100567053">여기</a>입니다.</li>
    <li>이상한 컨셉 잡는 사람들을 싫어합니다. 우리 평범하게 살 수 있잖아요?</li>
    <li>트위터(X)는 하지 않고, 할 생각도 없습니다. 퍼거슨 할아버지께서 인생의 낭비라 하셨거든요.</li>
    <li>스팀 친추 환영입니다. <a href="https://steamcommunity.com/profiles/76561199439449728/">프로필</a></li>
</ul>
