@page "/about"

<PageTitle>About me</PageTitle>

<h1>About me</h1>

<h2>소개</h2>
<ul>
    <li>Bluehill입니다.</li>
    <li>C#과 닷넷에 관심이 많습니다. 그 외에는 Python 정도?</li>
    <li>이 사이트는 Blazor WebAssembly를 사용하여 제작되었습니다.</li>
</ul>

<h2>쓸데 없는 잡담</h2>
<ul>
    <li>씹덕은 아닙니다. <del>암튼 아님</del></li>
    <li>닉네임(Bluehill)과 아이디(na1307)의 의미는 없습니다. 그냥 아무 생각 없이 지은 닉네임이에요.</li>
    <li>프사는 제가 중학교 1학년때 탁구 동아리를 했었는데 탁구공이 위에 있는 계란판에 들어간게 신기해서 찍은겁니다. 딱히 프사로 할만한게 없어서 그냥 이걸로 했어요.</li>
    <li>이상한 컨셉 잡는 사람들을 싫어합니다. 우리 평범하게 살 수 있잖아요?</li>
    <li>트위터(X)는 하지 않고, 할 생각도 없습니다. 퍼거슨 할아버지께서 인생의 낭비라 하셨거든요.</li>
</ul>
