@page "/"

<PageTitle>Home</PageTitle>

<h1>Bluehill / Jonghyo Lee</h1>

<p>Welcome to my Home Page.</p>

<ul>
    <li><NavLink href="about">About</NavLink> (한국어)</li>
    <li><NavLink href="projects">Projects</NavLink></li>
    <li><NavLink href="nugets">NuGet Packages</NavLink></li>
    <li><NavLink href="time">When is Bluehill's time?</NavLink></li>
    <li><a href="https://blog.naver.com/na1307-" target="_blank">Blog</a> (한국어)</li>
    <li><NavLink href="WebSites">유용한 웹 사이트 모음</NavLink> (한국어)</li>
</ul>
