@page "/"

<PageTitle>Home</PageTitle>

<h1>Bluehill / Jonghyo Lee</h1>

Welcome to my Home Page.

<ul>
    <li><NavLink href="Projects">Projects</NavLink></li>
    <li><NavLink href="NuGets">NuGet Packages</NavLink></li>
</ul>
