@page "/"

<PageTitle>Home</PageTitle>

<h1>Bluehill / Jonghyo Lee</h1>

Welcome to my Home Page.

<ul>
    <li><NavLink href="About">About</NavLink> (한국어)</li>
    <li><NavLink href="Projects">Projects</NavLink></li>
    <li><NavLink href="NuGets">NuGet Packages</NavLink></li>
    <li><a href="https://blog.naver.com/na1307-" target="_blank">Blog</a> (한국어)</li>
    <li><NavLink href="WebSites">유용한 웹 사이트 모음</NavLink> (한국어)</li>
</ul>
