@page "/"

<PageTitle>Home</PageTitle>

<h1>Bluehill / Jonghyo Lee</h1>

Welcome to my Home Page.

<ul>
    <li><a href="/Projects">Projects</a></li>
    <li><a href="/NuGets">NuGet Packages</a></li>
</ul>
