@page "/NuGets"

<PageTitle>NuGet Packages</PageTitle>

<h1>NuGet Packages</h1>

<h2>Current</h2>
<ul>
    <li><a href="https://na1307.github.io/Bluehill.Deconstructors/">Bluehill.Deconstructors</a></li>
    <li><a href="https://na1307.github.io/Bluehill.Hangul/">Bluehill.Hangul</a></li>
    <li><a href="https://na1307.github.io/Bluehill.CompilerServices/">Bluehill.CompilerServices</a></li>
    <li><a href="https://na1307.github.io/Bluehill.TaskbarMethods/">Bluehill.TaskbarMethods</a></li>
    <li><a href="https://na1307.github.io/Bluehill.Bcd/">Bluehill.Bcd</a></li>
</ul>

<h2>Deprecated</h2>
<ul>
    <li><a href="https://na1307.github.io/Bluehill.NullableAttributes/">Bluehill.NullableAttributes</a></li>
</ul>
