@page "/projects"

<PageTitle>My projects</PageTitle>

<h1>My projects</h1>

<h2>Current</h2>
<ul>
    <li><a href="https://github.com/na1307/EncodingConverter">Encoding Converter</a></li>
</ul>
<ul>
    <li><a href="https://github.com/na1307/SimpleSixtarScoreCard">SimpleSixtarScoreCard</a></li>
</ul>

<h2>No longer maintained</h2>
<ul>
    <li><a href="https://na1307.github.io/SimpleRandom/">SimpleRandom</a></li>
    <li><a href="https://na1307.github.io/ZeroOneX/">ZeroOneX</a></li>
</ul>
