@page "/time"
@implements IDisposable

<PageTitle>When is my time?</PageTitle>

<h1>My Time</h1>

<p>The time in <code>@asiaSeoul</code> where Bluehill lives is ...</p>
<p>
    <span class="d-flex justify-content-center" style="font-size: 36pt;">@stp.GetLocalNow().ToString("yyyy-MM-dd")</span>
    <span class="d-flex justify-content-center" style="font-size: 36pt;">@stp.GetLocalNow().ToString("HH:mm:ss")</span>
</p>
<p><small>Note: This time is expressed in <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO 8601</a> standard.</small></p>

@code {
    private const string asiaSeoul = "Asia/Seoul";
    private static readonly SeoulTimeProvider stp = new();
    private readonly PeriodicTimer timer = new(TimeSpan.FromSeconds(1));

    public void Dispose() => timer.Dispose();
    
    protected override async Task OnInitializedAsync() => await update();

    private async Task update() {
        while (await timer.WaitForNextTickAsync()) {
            await InvokeAsync(StateHasChanged);
        }
    }
    
    private sealed class SeoulTimeProvider : TimeProvider {
        public override TimeZoneInfo LocalTimeZone => TimeZoneInfo.FindSystemTimeZoneById(asiaSeoul);
    }
}
