@page "/websites"

<PageTitle>유용한 웹 사이트 모음</PageTitle>

<h1>유용한 웹 사이트 모음</h1>

<h2>개발 관련</h2>
<ul>
    <li><a href="https://github.com" target="_blank">GitHub</a></li>
    <li><a href="https://stackoverflow.com" target="_blank">Stack Overflow</a></li>
    <li><a href="https://docs.microsoft.com" target="_blank">Microsoft Docs (MSDN)</a></li>
    <li><a href="https://www.sysnet.pe.kr" target="_blank">정성태의 닷넷 이야기</a></li>
    <li><a href="https://forum.dotnetdev.kr" target="_blank">닷넷데브</a></li>
</ul>

<h2>위키</h2>
<ul>
    <li><a href="https://ko.wikipedia.org" target="_blank">위키백과</a></li>
    <li><a href="https://librewiki.net" target="_blank">리브레 위키</a></li>
    <li><a href="https://namu.wiki" target="_blank">나무위키</a></li>
</ul>

<h2>기타</h2>
<ul>
    <li><a href="https://archive.org" target="_blank">Internet Archive</a> (<a href="https://web.archive.org" target="_blank">Wayback Machine</a>)</li>
</ul>
