---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <h1>Bluehill / Jonghyo Lee</h1>
    <p>Welcome to my Home Page.</p>
    <ul>
        <li><a href="./about">About</a></li>
        <li><a href="./projects">Projects</a></li>
        <li><a href="./time">When is Bluehill's time?</a></li>
        <li><a href="https://blog.naver.com/na1307-">Blog</a></li>
    </ul>
</Layout>
